extends ./partial/body

block site_title
    if(is_post())
        = page.title+' - '+config.title
block content
    div.inner-title= page.title
    .inner-meta
        .inner-part 
            i(class="far fa-clock")
            time.inner-time= date(page.date)
        .inner-part 
            i(class="far fa-folder-open")
            if (page.categories.length !== 0)
                != list_categories(page.categories,c_options)
            else
                = '/'
        if(page.tags.length !== 0)
            .inner-part
                i(class="fas fa-tags")
                != list_tags(page.tags,t_options)
    div.inner-content!= page.content
        .innernav 
            if(page.prev)
                .prev-post.lnav
                    a(href=url_for(page.prev.path))
                        span= '< '+page.prev.title
            else
                .lnav
            if(page.next)
                .next-post.lnav
                    a(href=url_for(page.next.path))
                        span= page.next.title+' >'
    div#vcomments